    [Unit]
    Description=hyper-log
    After=network.target

    [Service]
    ExecStart=/var/opt/hyper-log --domain=wavey.io --prefix=test --tags=gb-lon,us-mia,us-lax
    Restart=always
    User=root
    StandardOutput=syslog
    StandardError=syslog
    SyslogIdentifier=hyper-log

    [Install]
    WantedBy=multi-user.target
